* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerContact {
  background-color: #a98eed;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 15px 100px;
  color: white;
  font-size: 14px;
}

.headerSocialContainer {
  gap: 20px;
}

.navbarContainer {
  padding: 0px 100px;
}

.navbarListItems {
  /* margin-left: auto!important; */
  margin-right: 10px;
}

.navbarListItems a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.navbarListItems a:hover {
  border-bottom: 2px solid gray;
}

.navbarButton {
  background-color: #5cd8df;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
}

.homeSectionContainer {
  display: flex;
  margin: 20px;
  padding: 100px 20px 100px 100px;
  align-items: center;
  background-color: #d5deff;
}

.homeSectionLeftSide {
  flex: 0.5;
}

.homeSectionRightSide {
  flex: 0.5;
}

.homeSectionLeftSide h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.phoneContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  margin-right: 10px;
}

.rightHomeSectionImgContainer {
  position: relative;
}

.rightHomeSectionElement1 {
  transform: rotate(0.5turn);
  margin-right: 20px;
  height: 500px;
}

.rightHomeSectionElement2 {
  height: 500px;
}

.rightHomeSectionMainBG {
  position: absolute;
  top: 0;
  right: 16%;
  height: 450px;

  background-color: #dbccff;
}

.homeSectionStars1 {
  position: absolute;
  top: 0;
  left: 10%;
}
.homeSectionStars2 {
  position: absolute;
  bottom: 15%;
  right: 8%;
}

@media only screen and (max-width: 768px) {
  .homeSectionContainer {
    flex-direction: column;
    padding: 100px 20px 100px 20px;
  }
  .homeSectionLeftSide {
    margin-bottom: 20px;
  }
  .homeSectionRightSide {
    margin-bottom: 20px;
  }
  .rightHomeSectionMainBG {
    right: 0;
  }
  .homeSectionStars1 {
    left: 0;
  }
  .homeSectionStars2 {
    right: 0;
  }
  .rightHomeSectionImgContainer img {
    display: none;
  }
  .address {
    display: none;
  }

  .navbarContainer {
    padding: 0px 20px;
  }

  .headerContact {
    padding: 15px 20px;
  }

  .homeSectionLeftSide h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  .homeSectionContainer {
    padding: 40px 10px 40px 10px;
  }
  .homeSectionLeftSide {
    flex-direction: column;
  }
}

.cosmotology_section {
  margin-top: 100px;
}

.cosmotology_section h3 {
  margin: 20px 0;
  text-align: center;
}

.cosmotology_section h6 {
  margin: 20px 0;
  text-align: center;
  color: #3fd5d5;
}

.cosmotology_section p {
  margin: 20px 0;
  text-align: center;
  color: gray;
}

.cosomotology_card_container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.cosmotology_section h3 {
  font-size: 28px;
}

.cosmotology_para {
  font-size: 18px;
  color: gray;
  margin-bottom: 30px;
}

.cosmotology_card {
  width: 390px;
  text-align: center;
}

.cosmotology_card h4 {
  margin-top: 50px;
  font-size: 22px;
}

.consmotology_img_container {
  position: relative;
}

.cosmotology_card_img {
  height: 350px;
}

.cosmotology_card_imgBg {
  position: absolute;
  height: 120px;
  bottom: -27%;
  left: 35%;
}

.cosmotology_card_imgBgback {
  position: absolute;
  bottom: 8%;
  left: 45%;
  height: 60px;
}

.services_container {
  margin: 30px;
  padding: 40px;
  background-color: #e1f9f8;
}

.services_card {
  display: flex;
}

.services_card_left {
  flex: 0.5;
  position: relative;
}
.services_card_img {
  height: 450px;
  position: absolute;
  top: -20%;
  left: 7%;
}

.services_card_right {
  flex: 0.5;
}

.services p {
  margin: 20px 0;
  font-size: 18px;
}
.services h6 {
  margin: 20px 0;
  color: #3fd5d5;
}

.service_card_features_card_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.services_stars {
  position: absolute;
  bottom: 0;
  left: 5%;
}

.services_section2 {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 40px 100px;
}

.section2_bg_img {
  height: 400px;
}
.service2_img_container {
  position: relative;
}

.section2element {
  position: absolute;
  height: 300px;
  right: -7%;
  top: -9%;
  z-index: -1;
}

.section2element2stars {
  position: absolute;

  right: -9%;
  top: 16%;
}

.service_section3_wrapper {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin: 20px 0;
  padding: 40px 100px;
}

.service_section3_container {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.service_section3_container img {
  height: 450px;
}

.price_section_container {
  margin: 20px;
  background-color: #eee7ff;
  padding: 70px;
}

.price_section_card_container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.price_section_card {
  padding: 20px;
  background-color: white;
}

.price_section_card img {
}

.price_section_card_feature {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-top: 30px;
}

.price_section_card_feature p {
  margin: 0;
  color: grey;
}

.review_section_container {
  margin-top: 50px;
  padding: 40px;
}

.review_section_card_container {
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
}

.review_section_card {
  padding: 20px;
  width: 25%;
}

.hand_section_container {
  margin: 20px;

  background-color: #ddeffd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.covid_section_container {
  margin: 50px;
  padding: 40px 100px;
  border: 1px solid lightgray;
  border-radius: 1px;
}

.news_stories_section {
  margin: 20px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.news_stories_card {
  border: 1px solid lightgray;
  width: 27%;
}

.news_stories_card img {
  height: 270px;
}

.btn:hover {
  background-color: #3fd5d5;
  color: white;
}
.hand_section_container {
  width: 50%;
}

.news_stories_bg1 {
  background-image: url(./images/newsAndStories/blog-1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 260px;
}
.news_stories_bg2 {
  background-image: url(./images/newsAndStories/blog-2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 260px;
}
.news_stories_bg3 {
  background-image: url(./images/newsAndStories/blog-3.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 260px;
}

.covid_section_info_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.insurance_section_container {
  margin: 20px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(186, 247, 254);
  background: linear-gradient(
    90deg,
    rgba(186, 247, 254, 1) 0%,
    rgba(204, 251, 235, 1) 50%,
    rgba(220, 255, 216, 1) 100%
  );
}

.insurance_section_card_container {
  width: 50%;
}

.footer_section_container {
  margin: 20px;
  padding: 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer_section_content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.footer_section_timing_container {
  width: 250px;
}
.covid_section_info_container_card {
  width: 50%;
}

/* all responsive */

@media screen and (max-width: 1068px) {
  .rightHomeSectionMainBG {
    height: 350px;
  }

  .rightHomeSectionElement1 {
    height: 300px;
  }
  .rightHomeSectionElement2 {
    height: 300px;
  }
  .cosomotology_card_container {
    gap: 20px;
  }

  .services_card_img {
    height: 300px;
    top: 0%;
  }

  .section2_bg_img {
    height: 250px;
  }

  .hand_section_container {
  }
  .news_stories_section {
    padding: 8px;
  }
}

@media screen and (max-width: 868px) {
  .services_card_img {
    display: none;
  }
  .services_card_left {
    flex: 0;
  }
  .services_card_right {
    flex: 1;
    width: 100%;
  }
  .services_section2 {
    flex-direction: column-reverse;
  }
  .section2_bg_img {
    height: 450px;
  }
  .services_section2_info {
    width: 100%;
  }

  .price_section_card_container {
    flex-direction: column;
  }

  .review_section_card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .review_section_card {
    width: 100%;
  }
  .hand_section_container {
    flex-direction: column;
  }

  .hand_section_container {
    width: 100%;
    /* text-align: center; */
  }
  .hand_section_info {
    padding: 20px;
  }

  .covid_section_info_container {
    flex-direction: column;
  }
  .covid_section_info_container_card {
    width: 100%;
  }
  .news_stories_section {
    flex-direction: column;
  }
  .news_stories_card {
    width: 100%;
  }
  .news_stories_bg1 {
    height: 350px;
  }
  .news_stories_bg2 {
    height: 350px;
  }
  .news_stories_bg3 {
    height: 350px;
  }

  .footer_section_content_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .services_section2 {
    flex-direction: column;
  }
  .service_section3_container {
    flex-direction: column;
  }
  .service_section3_container img {
    height: 250px;
  }
  .review_section_card_container {
    flex-direction: column;
  }
  .review_section_card {
    width: 100%;
  }
  .news_stories_section {
    flex-direction: column;
  }
  .news_stories_card {
    width: 100%;
  }
  .insurance_section_card_container {
    width: 100%;
  }
  .footer_section_content_wrapper {
    flex-direction: column;
  }

  .cosomotology_card_container {
    flex-direction: column;
    justify-content: center;
  }
  .cosmotology_card {
    width: 100%;
  }

  .cosmotology_card_img {
    height: 500px;
  }

  .cosmotology_section {
    padding: 20px 50px;
  }

  .services_section2 {
    padding: 3px;
  }
  .section2_bg_img {
    height: 430px;
  }
  .section2element {
    display: none;
  }
  .section2element2stars {
    display: none;
  }

  .services_section2_info {
    width: 93%;
    padding: 20px;
  }

  .handsImg {
    height: 400px;
  }

  .hand_section_container {
    margin: 0;
  }
}

@media screen and (max-width: 468px) {

  .cosmotology_card_imgBg{
    position: absolute;
    height: 112px;
    bottom: -23%;
    left: 31%;
}
  }
  .cosmotology_card_imgBgback{
    position: absolute;
    bottom: -4%;
    left: 42%;
    height: 60px;
  }

  .cosmotology_card_img {
    height: 200px;
  }
  .section2_bg_img {
    height: 230px;
  }

  .handsImg {
    height: 200px;
  }

  .footer_section_content_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .review_section_card_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 8px;
  }

  .service_section3_container img {
    display: none;
  }

  .service_section3_wrapper {
    padding: 10px 20px;
  }
  .service_section3_container {
    gap: 10px;
  }
  .sectionlastInfo {
    padding: 20px;
  }

  .price_section_container {
    padding: 20px;
  }

  .price_info {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .covid_section_container {
    padding: 20px;
    margin: 40px 10px;
  }
  /* .navbarButton {
    padding: 10px 20px;
  } */
  .nav_contact {
    flex-direction: column;
    gap: 20px;
  }
}

.sectionlastInfo {
  width: 100%;
  padding: 10px;
}

.price_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
